/** General style */

:root {
	--body-bknd-color: #0f0c29;
	--container-bknd-color: linear-gradient(to bottom, #24243e, #302b63, #0f0c29);
	--old-browser-bknd-color: -webkit-linear-gradient(to bottom, #24243e, #302b63, #0f0c29);
	--wraper-bknd-color: #30475e;
	--font-color: #dddddd;
	--btn-color: #f05454;
	--correct-answer: #4ecca3;
	--wrong-answer: #d72323;
	--basic-familiy-font: 'Montserrat', system-ui, -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

	font-size: 62.5%;
	height: 100%;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1.6rem;
	min-height: 100%;
	background: var(--body-bknd-color);
	color: var(--font-color);
	font-family: var(--basic-familiy-font);
}

.container {
	max-width: 2500px;
	background-color: var(--container-bknd-color);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	/* padding: 2.5em 3em 1em 3em; */
}

h1 {
	font-size: clamp(2.9rem, calc(12px + 3.3vw), 3.45rem);
	line-height: 1.1;
	font-weight: 700;
	text-align: center;
	margin-bottom: 1em;
	/* text-shadow: 3px 3px var(--body-bknd-color); */
}

h2 {
	font-size: clamp(1.9rem, calc(12px + 1.8vw), 2.25rem);
	line-height: 1.1;
	font-weight: 600;
	text-align: center;
	text-justify: distribute;
	margin-bottom: 1em;
	/* text-shadow: 3px 3px var(--body-bknd-color); */
}

p {
	font-size: clamp(1.5rem, calc(12px + 0.72vw), 2.3rem);
	line-height: 1.1;
	font-weight: 600;
	/* text-shadow: 2px 2px var(--body-bknd-color); */
}

.answers__list__wraper li {
	list-style: none;
	font-weight: 400;
	font-size: clamp(1.035rem, calc(12px + 0.54vw), 2rem);
	line-height: 1.1;
}

.question-sntc {
	text-align: justify;
	text-justify: distribute;
	margin-top: 2em;
}

/** Default wrapers styles */

.main__wraper {
	background: rgba(48, 71, 94, 0.61);
	border-radius: 5px;
	box-shadow: 15px 20px 6px -2px rgba(0, 0, 0, 0.72);
	backdrop-filter: blur(11.2px);
	width: 55%;
	min-width: 290px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-bottom: 5em;
}

.welcome__wraper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card {
	min-height: 450px;
	padding: 1.5em;
}

.hidden__wraper {
	display: none;
}

.alive_wraper {
	display: block;
}

.timer__score__wraper {
	display: flex;
	justify-content: space-between;
}

.answers__wraper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-top: 3em;
}

.answers__list__wraper {
	min-height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

/** Components style buttons, li, questions, timer, etc.. */

.btn__wraper {
	margin-top: 2em;
	text-align: center;
}

#btn-start {
	align-items: center;
	background-color: var(--btn-color);
	color: var(--font-color);
	border: 0;
	border-radius: 50px;
	cursor: pointer;
	font-size: clamp(1.2rem, calc(12px + 0.48vw), 1.8rem);
	line-height: 1.1;
	font-weight: 600;
	max-width: 480px;
	min-height: 40px;
	padding: 0 2em 0 2em;
	touch-action: manipulation;
	/* transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s; */
	user-select: none;
	box-shadow: 5px 18px 15px -2px rgba(0, 0, 0, 0.72);
}

#btn-start:hover,
#btn-start:focus {
	background-color: var(--correct-answer);
	color: var(--font-color);
}

#btn-start:active {
	background: var(--body-bknd-color);
	color: rgb(255, 255, 255, 0.7);
}

#btn-active:disabled {
	cursor: not-allowed;
	background: rgba(0, 0, 0, 0.08);
	color: rgba(0, 0, 0, 0.3);
}

.answer-number {
	margin-right: 1em;
	font-weight: 700;
}
